html
  head
    <link href="jasmine.css" rel="stylesheet" type="text/css" />
    block scripts
      script(src='//code.jquery.com/jquery.min.js')
      script(src='jasmine.js')
      script(src='jasmine-html.js')
  body
    block content